<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NovaMerEntities2"
			 connectionString="metadata=res://*/NovaMerModel.csdl|res://*/NovaMerModel.ssdl|res://*/NovaMerModel.msl;
                           provider=System.Data.SqlClient;
                           provider connection string='Server=(localdb)\Arey;Database=NovaMer;
                           User Id=NovaMer;Password=!passDareRey49;MultipleActiveResultSets=True;App=EntityFramework'"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
	
</configuration>


