<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="NovaMerEntities2"
			 connectionString="metadata=res://*/NovaMerModel.csdl|res://*/NovaMerModel.ssdl|res://*/NovaMerModel.msl;
                           provider=System.Data.SqlClient;
                           provider connection string='Server=(localdb)\Arey;Database=NovaMer;
                           User Id=NovaMer;Password=!passDareRey49;MultipleActiveResultSets=True;App=EntityFramework'"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>-->

	<connectionStrings>
		<add name="NovaMerEntities2"
			 connectionString="metadata=res://*/NovaMerModel.csdl|res://*/NovaMerModel.ssdl|res://*/NovaMerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=NovaMerDB.mssql.somee.com;Database=NovaMerDB;User Id=DanielAR4178_SQLLogin_1;Password=6uoakca7q2;MultipleActiveResultSets=True;Persist Security Info=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>


